#project {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#project h2 {
    text-align: right;
}

.project-container {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}

.project-titles {
    flex: 1;
    border-left: 2px solid #3498db;
    padding-left: 20px;
    border-right: none;
    padding-right: 0;
}

.project-titles li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-titles li:hover {
    background-color: #3498db;
    color: #fff;
}

.project-details {
    flex: 3;
}

.project-item {
    display: none;
}

.project-item.active {
    display: block;
}

.project-item.active li {
    list-style-type: "▷";
    padding-inline: 1ch;
    margin-left: 1em;
}

.project-item.active li::marker {
    color: #00BFFF;
}

.project-item img {
    height: 25px;
    width: auto;
}