body {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

div.log-container {
    display: flex;
    align-items: center;
}

div.nav-links {
    display: flex;
    justify-content: flex-end;
}

nav li {
    list-style-type: none;
    margin: 0 10px;
    padding-inline-start: 0;
}

a {text-decoration: none;}
a:hover {color: red;}
a:visited {color: blue;}
a:hover:visited {color: red}

img.logo {
    border-radius: 50%;
    height: 35px;
    width: auto;
    margin-right: 10px;
}

li {
    display: list-item;
    list-style-type: '➮';
    padding-inline-start: 1ch;
}

li::marker {
    color: red;
}

div.resume {
    margin: 0 10px;
    border: 1px solid black;
}